

.products-table th:nth-child(1),
.products-table td:nth-child(1){
    width: 3%;
}
.products-table th:nth-child(2),
.products-table td:nth-child(2){
    width: 20%;
}
.products-table th:nth-child(3),
.products-table td:nth-child(3){
    width: 15%;
}
.products-table th:nth-child(4),
.products-table td:nth-child(4){
    width: 35%;
}
.products-table th:nth-child(5),
.products-table td:nth-child(5){
    width: 8%;
    text-align: center;
}
.products-table th:nth-child(6),
.products-table td:nth-child(6){
    width: 19%;
    text-align: center;
}
.products-table tr button,
.products-table tr a{
    margin: 0 5px;
}